%h1 The Snake Network

#mySidebar.sidebar
  %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
  %a{:href => "/"} Home
  %a{:href => "/addsnake"} Add Your Snake
  %a{:href => "/allsnakes"} All Snake Pets
  %a{:href => "#"} Facts
  %a{:href => "#"} Contact Us
#main
  %button.openbtn{:onclick => "openNav()"} ≡ Open Sidebar
