%h1 Add a new pet snake to the database

= render 'snakes/form'

%input#smallb{onclick: "SetFontSize('80%')", type: "button", value: "Small"}
%input#mediumb{onclick: "SetFontSize('100%')", type: "button", value: "Medium"}
%input#largeb{onclick: "SetFontSize('120%')", type: "button", value: "Large"}

%p
%input#Lightb{onclick: "SetPageStyle('Light')", type: "button", value: "Light"}
%input#Darkb{onclick: "SetPageStyle('Dark')", type: "button", value: "Dark"}
