%h1 Table of All Pet Snakes

%table
 %thead
  %tr
   %th Name
   %th Breed
   %th Age
   %th Owner email

  %tbody
   - @snakes.each_with_index do |snake, i|
    - row_class = ""
    - if i % 2 == 0
     - row_class = "even"
    - else
     - row_class = "odd"

    %tr{:class => 'snk_class'}
     %td{:class => "#{row_class} plain"}= snake.name
     %td{:class => "#{row_class} plain"}= snake.breed
     %td{:class => "#{row_class} plain"}= snake.age
     %td{:class => "#{row_class} plain"}= snake.owner_email
%br

%input#plainb{onclick: "SetTableStyle('Plain')", type: "button", value: "Plain"}
%input#brightb{onclick: "SetTableStyle('Bright')", type: "button", value: "Bright"}
%input#darkb{onclick: "SetTableStyle('Dark')", type: "button", value: "Dark"}

